- if @metrics_info.version_info_enabled 
  %span.label
    Version 
  %span
    = @metrics_info.version_or_branch
%span.label
  Commit Link
%span
  %a{:href=> @metrics_info.repo_link}  #{@metrics_info.repo_link}

